<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/css/uikit.min.css'
    />
  </head>

  <body>
    <div class='wrapper'>
      <header>
        <nav class='uk-navbar-container uk-margin-bottom' uk-navbar>
          <div class='uk-navbar-left'>

            <ul class='uk-navbar-nav'>
              <a class='uk-navbar-item uk-logo uk-margin-left' href='/'>Tech
                Blog</a>
              <li class='uk-active'><a href='/'>Home</a></li>
              {{#if loggedIn}}
                <li class='uk-active'><a href='/dashboard'>Dashboard</a></li>
                <button
                  class='logout uk-button uk-button-link uk-button-large uk-margin-left'
                  href='/'
                  id='logout'
                >Logout</button>
              {{else}}
                <li class='uk-active'><a href='/login'>Login</a></li>
              {{/if}}
            </ul>
          </div>
        </nav>
      </header>

      <main>
        <div class='uk-container'>
          {{{body}}}
        </div>
      </main>
    </div>

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

  <script
    src='https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js'
  ></script>
  <script
    src='https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js'
  ></script>

</html>