<a href='/dashboard' class='go-back uk-button uk-button-primary'>
  &larr; Back to dashboard</a>
<br />
<br />

<article class='new-page'>
  <section class='new-form-page'>
    <div class='form-heading uk-margin'>
      <legend class='uk-legend uk-margin-top'>Sign Up</legend>
    </div>
    <div class='form-section'>
      <form class='new-post-form uk-form-stacked'>
        <div class='post-title-section uk-margin'>
          <label
            for='post-title form-stacked-text'
            class='uk-form-label'
          >Title</label>
          <input type='text' id='post-title' name='post-title' />
        </div>
        <div class='post-content uk-margin'>
          <label
            for='post-content form-stacked-text'
            class='uk-form-label'
          >Content</label>
          <textarea
            class='entry-field'
            id='post-text'
            name='post-text'
          ></textarea>
        </div>
        <button
          type='submit'
          class='btn uk-button uk-button-default'
        >Create</button>
      </form>
    </div>
  </section>
</article>

<script src='/js/add-post.js'></script>