<section class='sign-in-page'>
  <div class='form-heading uk-margin'>
    <legend class='uk-legend uk-margin-top'>Sign Up</legend>
  </div>
  <div class='form-section'>
    <form class='signup-form uk-form-stacked'>
      <div class='uk-margin'>
        <label
          class='uk-form-label'
          for='form-stacked-text username-signup'
        >Username</label>
        <input type='text' class='entry-field uk-input' id='username-signup' />
      </div>
      <div class='uk-margin'>
        <label
          class='uk-form-label'
          for='form-stacked-text password-signup'
        >Password</label>
        <input
          type='password'
          class='entry-field uk-input'
          id='password-signup'
        />
      </div>
      <div>
        <button
          type='submit'
          class='uk-button uk-button-default login-signup-btn'
        >Sign Up</button>
        <a class='uk-button uk-button-default' href='/login'>Or Log In</a>
      </div>
    </form>
  </div>

</section>

<script src='/js/signup.js'></script>